body{
    background: rgb(32, 35, 36);
    color:white;
}
.content-wrapper{
    
    background: rgb(32, 35, 36);
}
.box-footer,
.main-footer{
    color: #fff; 
    background: rgb(32, 35, 36);
    border:0;
}

.nav-tabs-custom{
 color: #fff; 
    background: #222
}
.nav-tabs-custom fieldset legend{
    color:#fff;
    
}
.nav-tabs-custom .nav-tabs{

    border-bottom-color:#3c3b3b;
}
.form-control,
.form-group input{

    background-color:#3c3b3b;
    color: #fff;
    border:0;
    border-radius:2px
}
button {
    margin-left:5px;
}

.table-actions{
    width:150px;
}
